body {
    background: #121212;
    color: white;
}

.titulo {
    color: #00e5ff;
    font-weight: bold;
}

.painel {
    max-width: 650px;
    margin: auto;
    background: #1f1f1f;
    border: 2px solid #444;
    box-shadow: 0 0 20px rgba(0,255,255,.3);
}

.display-digital {
    font-family: 'Orbitron', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    color: #00ff66;

    text-shadow:
        0 0 5px #00ff66,
        0 0 10px #00ff66,
        0 0 20px #00ff66;

    transition: all .5s;
}

.online {
    color: #00ff66;
}

.alerta {
    color: #ffcc00;
}

.critico {
    color: red;
}

.offline {
    color: red;
}

.progress {
    height: 35px;
}

.progress-bar {
    transition: all .8s ease;
}

.card-body p {
    color: #ccc;
}
